body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(200, 200, 200, 0.5); /* Light gray background with some transparency */
}

h1 {
  margin: 1em;
}

h2 {
  margin: 1em;
  text-align: center;
}

h3 {
  font-size: 18px;
}

p {
  padding: 1.5em;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

/* Layout for listene */
.lista-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Stil for hver liste */
.list-container {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background: #f9f9f9;
}

.wiki-link {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.wiki-link:hover {
  text-decoration: underline;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #e0e0e0;
}

.rulebook {
  margin-top: 30px;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.rulebook h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.rulebook h3 {
  margin-top: 20px;
  font-size: 1.4em;
}

/* Punktliste */
.rulebook ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rulebook p, .rulebook li {
  font-size: 1.1em;
  margin-bottom: 8px;
}