body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(200, 200, 200, 0.5); /* Light gray background with some transparency */
}

h1 {
  margin: 1em;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 90%;
}

h3 {
  font-size: 18px;
}

p {
  padding: 0.4em;
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
}

/* Layout for listene */
.lista-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* Stil for hver liste */
.list-container {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background: #f9f9f9;
}

.wiki-link {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

.wiki-link:hover {
  text-decoration: underline;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #e0e0e0;
}

.rulebook {
  max-width: 800px;
  width: 90%;
  margin: 30px auto;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rulebook h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.rulebook h3 {
  margin-top: 20px;
  font-size: 1.4em;
}

/* Punktliste */
.rulebook ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rulebook p, .rulebook li {
  font-size: 1.1em;
  margin-bottom: 1em;
}

@media (max-width: 600px) {
  .rulebook h2 {
    font-size: 1.5em; /* Gjør h2 mindre på små skjermer */
  }
}